<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=den1.mssql8.gear.host;database=test102;user id=test102;password=Ld8m8N!-wV0V;"
    providerName="System.Data.Sqlclient"/>
  </connectionStrings>
</configuration>